@font-face { 
  font-family: Chasing Embers Demo Version;
  src: url(Chasing_Embers_Demo_Version.otf); 
}
body {
  background-color: #d8eff2; 
}

p { 
  font-family: "Chasing Embers Demo Version";
  color: black;
  font-size: 60px;
  text-align: center; 
}
  
