@font-face { 
  font-family: Chasing Embers Demo Version;
  src: url(Chasing_Embers_Demo_Version.otf); 
}
body {
  background-image: url("http://i465.photobucket.com/albums/rr13/emmlakic/DSC_0254_zpslmife7te.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1300px 867px;
}

#Emily { 
  font-family: "Chasing Embers Demo Version";
  color: black;
  font-size: 140px;
  text-align: center; 
  margin-left: 300px;
  margin-top: 4px;
}

#Lakic { 
  font-family: "Chasing Embers Demo Version";
  color: black;
  font-size: 140px;
  text-align: center; 
  line-height: 7px;
  margin-left: 875px;
  margin-top: -85px;
}

  
