body { 
  background: #808080; 
}

#header { 
   text-align: center;
  font-family: Trebuchet;
  font-size: 60px;
  color: #c6ec79;
}

#pic {
  height: 42;
  width: 42;
  box-shadow: 10px 10px 5px #c6ec79;
}
  
