@font-face { 
  font-family: Chasing Embers Demo Version;
  src: url(Chasing_Embers_Demo_Version.otf); 
}
body { 
  background-color: #d8eff2;
}
#header { 
 font-family: "Chasing Embers Demo Version";
 font-size: 190px;
 color: white;
 text-shadow: 2px 2px #a3a3a3;
 text-align: center;
 margin-top: -30px;

}
img { 
  margin-left: 800px;
  border: 5px white solid; 
  width: 300px;
  height: 450px;
  margin-top: -155px;
}
.text { 
  font-size: 23px;
}

p {
  font-family: Tahoma;
  color: black;
  font-size: 16px;
  
  

