body { 
background-image: url("http://i465.photobucket.com/albums/rr13/emmlakic/IMG_4543_zpsdatgxoqt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1300px 867px;
}
