@font-face { 
  font-family: Chasing Embers Demo Version;
  src: url(Chasing_Embers_Demo_Version.otf); 
}
@font-face { 
  font-family: Adam; 
  src: url(Adam.otf); 
} 
@font-face { 
  font-family: A Year Without Rain;
  src: url(A_Year_Without_Rain.ttf); 
}
body { 
  background-color: #424242;
  font-family: Tahoma;
}
.img { 
  margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 300px;
}
.img img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 5px;
    text-align: center;
    font-family: "A Year Without Rain";
    font-size: 15px;
    color: #ff4f8d;
}
#header {
    text-align: center;
    font-family: "Chasing Embers Demo Version";
    font-size: 78px;
    color: #ff4f8d;
}
#click { 
    text-align: center;
    font-family: "Adam";
    font-size: 20px;
    color: white;
}
