body { 
  background-color: #424242;
  font-family: Tahoma;
}
.img { 
  margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 300px;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 5px;
    text-align: center;
    font-family: Times;
    font-size: 20px;
    color: black;
}
#header {
    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
    color: white;
}
#click { 
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    
}
