body { 
  background-color: #424242;
  font-family: Tahoma;
}
.img { 
  margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

