@font-face { 
  font-family: Chasing Embers Demo Versioh; 
  src: url("Chasing_Embers_Demo_Version.ttf"); 
}
body { 
  background-color: #424242;
}
p { 
  font-family: " ";
  font-size: 90px;
}
#header { 
  font-family: "Chasing Embers Demo Version";
  font-size: 115px;
  color: #f6ffb0;
  text-shadow: 2px 2px #b9bf84;
}
